{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contributors.css') }}">
{% endblock %}

{% block content %}
<div class="ui two column centered grid">
    <di class="column">

        <h2 id="header1" class="ui blue header">
            <i class="circular users icon"></i>
            Colaboradores
        </h2>

        <!-- Cards com informações dos Colaboradores-->
        <div class="ui cards">
            <div class="card">
                <div class="content">
                    <div class="header"><a href="#">João Victor Rodrigues de Souza</a></div>
                    <div class="description">
                        Desenvolvedor web
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="header"><a href="#">Rogério Taygra Vasconcelos Fernandes</a></div>
                    <div class="description">
                        Coordenador
                    </div>
                </div>
            </div>
        </div>

    </di> 
</div>
{% endblock %}