<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RN em Mapas | UFERSA Angicos</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}"/>

    {% block head %}
    {% endblock %}


    <!-- semantic css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='semantic/semantic.css') }}">
    <!-- openlayers css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='ol/ol.css') }}">
    <!-- sidebar-ol3 css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='sidebar/ol3-sidebar.css') }}">
    <!-- layerswitcher css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='layerswitcher/ol-layerswitcher.css') }}">
    <!-- layerswitcher css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='ol-popup/ol-popup.css') }}">
    <!-- layerswitcher css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mypopup.css') }}">


    
</head>
<body>
    <!-- menu -->
    <div class="ui menu">
        <a href="/" class="item">Mapas</a>
        <a href="/sobre" class="item">Sobre</a>
        <a href="/colaboradores" class="item">Colaboradores</a>
        {% if current_user.is_authenticated %}

        <div class="right menu">
            <a class="active blue item"><i class="user icon"></i>{{ current_user.name }}</a>
            <a href="/logout" class="item"><i class="sign out icon"></i>Sair</a>
        </div>

        {% else %}
        <div class="right menu">
            <a href="/registre-se" class="item">Registre-se</a>
            <a href="/login" class="item">
                <div class="ui primary button basic">
                <i class="sign in icon"></i>ENTRAR
                </div>
            </a>
        </div> 
        {% endif %}
    </div>

    {% block content %}
    {% endblock %}

    <!-- jquery -->
    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
    <!-- semantic js -->
    <script src="{{ url_for('static', filename='semantic/semantic.js') }}"></script>
    <!-- openlayers js -->
    <script src="{{ url_for('static', filename='ol/ol.js') }}"></script>
    <!-- sidebar-ol3 js -->
    <script src="{{ url_for('static', filename='sidebar/ol3-sidebar.js') }}"></script>
    <!-- layerswitcher js -->
    <script src="{{ url_for('static', filename='layerswitcher/ol-layerswitcher.js') }}"></script>
    <!-- config-mapa js -->
    <script src="{{ url_for('static', filename='js/config-mapa.js') }}"></script>
    <!-- ol-popup -->
    <script src="{{ url_for('static', filename='ol-popup/ol-popup.js') }}"></script>
    <!-- mypopup -->
    <script src="{{ url_for('static', filename='js/mypopup.js') }}"></script>

    <!-- set height map -->
    {% block scripts %}
    {% endblock %}

    <script>
    $(document).ready(function(){

      //definindo altura do mapa
      var alturaMenu = $('.menu').height()+2;
      var alturaTela = $(window).height();
      var alturaMapa = alturaTela - alturaMenu;
      $("#map").css({ "height": +alturaMapa+"px" });

      //mensagens de login e cadastro de usuários
      $('.message .close')
        .on('click', function() {
          $(this)
              .closest('.message')
              .transition('fade')
          ;
        })
      ;

      //inicializando accordion
      $('.ui.accordion')
          .accordion()
      ;

      //inicializando checkbox
      $('.ui.checkbox')
         .checkbox()
      ;


      });
    </script>

</body>
</html>